/* ========================================
   BASE STYLES
   ======================================== */
body {
    font-family: var(--font-family-body);
    font-size: var(--font-size-md);
    line-height: var(--line-height);

    color: var(--text-color);
    background-color: var(--bg-color);

    padding: var(--space-md);
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--space-lg);
    padding: 5rem 1.5rem 2rem 1.5rem;

}

nav {
    padding: var(--space-md) var(--space-lg);
    margin-bottom: var(--space-lg);

    background-color: var(--surface-color);
    border-bottom: 1px solid var(--border-color);
}

h2 {
    text-transform: uppercase;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-lg);

    color: var(--title-color);
    line-height: var(--line-height-heading);
    font-weight: var(--font-semibold);
    margin-bottom: var(--space-md);
}

h3 {
    text-transform: uppercase;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-md);

    line-height: var(--line-height-heading);
    margin-bottom: var(--space-sm);
}

p {
    font-family: var(--font-family-body);
    line-height: var(--line-height-body);
    font-size: var(--font-size-md);
    margin-bottom: var(--space-sm);
}

ul {
    list-style: none;
}

li {
    margin-bottom: var(--space-sm);
}

a {
    color: var(--link-color);

    &:hover {
        color: var(--link-hover-color);
    }
}

